body {background: #eeebed;line-height: 1; font-size:14px; font-family:"Tahoma"; color:#ffffff;}

.full-width {display: block; position: relative;padding: 1em;}
header {background-color: #660000;}
article {background-color: #006600;}
footer {background-color: #000066;}

#push-to-refresh {
	width: 100%;
	position: relative;
	height: 0px;
	background: #000;
}
